#root {
  color: red;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000000; */
  /* color: aliceblue; */
}

#tvEpisode{
  margin: 0 auto;
  padding: 2rem;
}

#tvEpisode{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.episodeCard > h2{
font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.hide{
  display: none;
}