#root {
  color: red;
}
#tvEpisode{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.episodeCard > h2{
font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}